@import url('https://fonts.googleapis.com/css2?family=CustomFont&display=swap');

html,
body {
  height: auto;
  width: auto;
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  background-color: transparent;
  padding: 15px;
  position: absolute;
  width: 100%;
  z-index: 1000;
  transition: background-color 0.3s;
}

.navbar img {
  height: 100%;
  width: 100px;
  padding: 0% 0px;
}

.hero {
  height: 100vh;
  position: relative;
}

.gradation-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  height: 400px;
  margin: 10px;
  border-radius: 8px;
  border: 1px solid #e7eaf6;
  backdrop-filter: blur(10px);
  overflow: hidden;
}

.col {
  flex: 50%;
  padding: 5px 10px;
}

.col img {
  position: relative;
  margin-top: 6%;
  left: 4%;
  height: 35%;
  width: 35%;
}

.col input {
  border: 1px #9ba6a5 solid;
  width: 50%;
  height: 35%;
  margin-bottom: 6px;
  left: 5%;
  padding: 5px;
  border-radius: 3px;
}

#description {
  position: relative;
  top: -310px;
  left: 355px;
  font-size: 30px;
  color: #113f67;
  font-family: 'Caudex', serif;
}

#description1 {
  position: relative;
  top: -320px;
  left: 355px;
  font-size: 25px;
  color: #113f67;
  font-family: 'Caudex', serif;
}

#form {
  position: relative;
  top: -305px;
  left: 355px;
}

#form input[type="checkbox"] {
  margin-right: 0.5rem;
}

#check {
  color: #e0ebeb;
  font-size: 14px;
  display: block;
  margin-bottom: 0.25rem;
  font-family: 'Caudex', serif;
}

#submit-form {
  display: block;
  background-color: #a2a8d3;
  color: #ffffff;
  padding: 5px 15px;
  border-radius: 10px;
}

#form button:hover {
  background-color: #42b883;
}

.main {
  margin-top: 40px;
  text-align: center;
}

.about {
  color: #222831;
  text-align: center;
  font-size: 20px;
}

.box {
  display: inline-block;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 55px;
  border-radius: 10px;
  border: 1px solid #ececec;
  background-color: #aeccc6;
  width: 400px;
  height: 180px;
  padding-top: 23px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
}

#perkenalan {
  text-align: center;
  justify-content: center;
  color: black;
  font-size: 17px;
}

.main2 {
  background-color: aliceblue;
}

#more {
  display: inline-block;
  align-items: center;
  border-radius: 10px;
  background-color: lightgrey;
  width: 300px;
  height: 120px;
  padding: 10px;
  margin: 60px;
  margin-top: 60px;
  margin-bottom: 30px;
}

#more i:hover{
  color: #5e63b6;
  transform: translateY(3px);
}

h2 {
  text-align: center;
  justify-content: center;
}

.fa-github {
  position: absolute;
  padding-top: 25px;
  padding-left: 120px;
}

.fa-instagram {
  position: absolute;
  padding-top: 25px;
  padding-left: 200px;
}

.fa-twitter {
  position: absolute;
  padding-top: 25px;
  padding-left: 50px;
}

#more fa-twitter:hover {
  background-color: white;
}

#warning {
  color: red;
}

footer {
  position: absolute;
  background-color: #385170;
  bottom: auto;
  width: 100%;
  color: #fff;
  text-align: center;
  padding: 14px 0;
}